.chat {
  position: relative;
  z-index: 90;
  background-color: $white;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: $shadow;
  height: 100%;
  display: grid;
  grid-template-columns: 5rem 25rem 1fr;
  .chat-navbar {
    height: 100%;
    width: 100%;
    box-shadow: $shadow;
    position: relative;
    z-index: 100;
    .profile-image-area {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 6rem;
      .profile-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        color: $white;
        background-color: $black;
        border-radius: 50%;
      }
    }
    ul {
      a {
        &.selected > li {
          background-color: $gray;
          border-left: 4px solid $black;
        }

        li {
          width: 100%;
          height: 4rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5rem;
          &:hover {
            background-color: $white-hover;
            color: $black;
            cursor: pointer;
          }
        }
      }
    }
  }
  .chat-navbar-content {
    height: 100%;
    .chat-search {
      width: 100%;
      height: 5rem;
      padding: 1rem;
      .chat-search-input {
        width: 100%;
        height: 100%;
        border-radius: 1.5rem;
        background-color: $white-hover;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        input {
          font-weight: 700;
          margin-left: 1rem;
          background-color: transparent;
          &::placeholder {
            font-weight: 400;
          }
        }
      }
    }
    .chatroom-list {
      .chatroom {
        width: 100%;
        padding: 2rem;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        background-color: $white;
        &:hover {
          background-color: $white-hover;
          cursor: pointer;
        }
        .profile-image {
          width: 3rem;
          height: 3rem;
          background-color: $black;
          margin-right: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $white;
          border-radius: 50%;
        }
        .wrapper {
          .name {
            font-weight: 700;
            margin-bottom: 0.5rem;
          }
          .last-message,
          .last-message-time {
            font-size: 0.8rem;
          }
          .last-message-time {
            margin-left: 0.5rem;
            opacity: 0.7;
          }
        }
        &.selected {
          position: relative;
          z-index: 100;
          width: 103%;
          background-color: $black;
          border-bottom: none;
          border-radius: 0 0.5rem 0.5rem 0;
          box-shadow: $shadow;
          color: $white;
          .profile-image {
            background-color: $white;
            color: $black;
          }
        }
      }
    }
    .friend-list {
      .friend {
        width: 100%;
        padding: 1rem;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        background-color: $white;
        &:hover {
          background-color: $white-hover;
          cursor: pointer;
        }
        .profile-image {
          width: 2rem;
          height: 2rem;
          background-color: $black;
          margin-right: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $white;
          border-radius: 50%;
        }
        .friend-name {
          font-weight: 700;
        }
        &.selected {
          position: relative;
          z-index: 100;
          width: 103%;
          background-color: $black;
          border-bottom: none;
          border-radius: 0 0.5rem 0.5rem 0;
          box-shadow: $shadow;
          color: $white;
          .profile-image {
            background-color: $white;
            color: $black;
          }
        }
      }
    }
  }
  .chat-content {
    display: grid;
    grid-template-columns: 25rem 1fr;
    .user-info {
      box-shadow: $shadow;
      position: relative;
      z-index: 80;
      background-color: $white;
      padding: 4rem 3rem;
      width: 100%;
      .profile-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6rem;
        height: 6rem;
        color: $white;
        background-color: $black;
        border-radius: 50%;
        margin-bottom: 2rem;
        font-size: 3rem;
      }
      .name {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-weight: 700;
      }
      .regiment {
        color: $black;
        margin-bottom: 3rem;
      }
      .info-category {
        width: 100%;
        font-weight: 700;
        margin-bottom: 1rem;
      }
      .info-wrapper {
        margin-bottom: 1rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .info-content {
          opacity: 0.6;
        }
      }
      .counsel-button {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 1rem;
        border-radius: 2rem;
        background-color: $gray;
        &:hover {
          cursor: pointer;
          background-color: $white-hover;
        }

        .counsel-button-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 3rem;
          height: 3rem;
          background-color: $black;
          color: $white;
          border-radius: 50%;
          margin-right: 1rem;
        }
        .counsel-button-text {
          font-weight: 700;
          font-size: 1.2rem;
        }
      }
    }
    .current-chatroom {
      width: 100%;
      .chat-area {
        display: flex;
        flex-direction: column;
        background-color: $white-hover;
        .chat-input {
          position: relative;
          z-index: 60;
          display: grid;
          grid-template-columns: auto 1fr auto;
          column-gap: 1rem;
          background: $white;
          box-shadow: $shadow;

          .attachment {
            margin: 1rem;
            margin-right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            color: $gray;
            font-size: 1.5rem;
            &:hover {
              color: $black;
              cursor: pointer;
            }
          }

          input {
            font-weight: 700;
            background-color: transparent;
            &::placeholder {
              font-weight: 400;
            }
          }
          button.chat-send {
            width: 4rem;
            background-color: $white-hover;
            font-size: 1.5rem;
            &:hover {
              background-color: $gray;
              cursor: pointer;
            }
          }
        }
        .chat-logs {
          overflow-y: auto;
          overflow-x: hidden;
          height: 100px;
          flex-grow: 1;
          .chat-log-null {
            height: 2rem;
          }
          .chat-log {
            width: 100%;
            display: flex;
            padding: 0 2rem;
            &.opponentLog {
              justify-content: flex-end;
              align-items: flex-end;
              .wrapper {
                align-items: flex-end;
                .text {
                  background-color: #fdf6ff;
                  border-radius: 1rem 1rem 0 1rem;
                }
              }
              .profile-image {
                margin-left: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 3rem;
                height: 3rem;
                color: $white;
                background-color: $black;
                border-radius: 50%;
              }
            }
            .wrapper {
              max-width: 70%;
              display: flex;
              flex-direction: column;
            }
            .text {
              display: inline-block;
              padding: 1rem;
              line-height: 1.5rem;
              background-color: $white;
              border-radius: 1rem 1rem 1rem 0;
              box-shadow: $shadow;
            }
            .timestamp {
              color: $black-hover;
              margin: 0.5rem 0;
              font-size: 0.8rem;
            }
            .profile-image {
              width: 3rem;
              height: 3rem;
              background: red;
              border-radius: 3rem;
            }
            &.opponentLog {
              .text {
                float: right;
              }
              .timestamp {
                float: right;
              }
            }
          }
        }
      }
    }
  }
}
