.menu_dropdown {
  position: relative;
  display: flex;
  .icon {
    color: $primary;
  }
  .menu_dropdown_options {
    padding: 0.2rem;
    position: absolute;
    top: 0;
    right: 2rem;
    background-color: $white;
    border-radius: 0.5rem;
    box-shadow: $defaultShadow;

    .menu_dropdown_option {
      width: 8rem;
      padding: 0.5rem;
      font-weight: $weightBold;
      &.hr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      }
      &.colored {
        color: $primary;
      }
    }
  }
}
