.counsel {
  position: relative;
  z-index: 90;
  background-color: $white;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: $shadow;
  height: 100%;
  display: grid;
  grid-template-columns: 5rem 25rem 1fr;
  .counsel-navbar {
    height: 100%;
    width: 100%;
    box-shadow: $shadow;
    position: relative;
    z-index: 100;
    .profile-image-area {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 6rem;
      .profile-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        color: $white;
        background-color: $black;
        border-radius: 50%;
      }
    }
    ul {
      a {
        &.selected > li {
          background-color: $gray;
          border-left: 4px solid $black;
        }

        li {
          width: 100%;
          height: 4rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5rem;
          &:hover {
            background-color: $white-hover;
            color: $black;
            cursor: pointer;
          }
        }
      }
    }
  }
  .counsel-navbar-content {
    height: 100%;
    .counsel-search {
      width: 100%;
      height: 5rem;
      padding: 1rem;
      .counsel-search-input {
        width: 100%;
        height: 100%;
        border-radius: 1.5rem;
        background-color: $white-hover;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        input {
          font-weight: $bold;
          margin-left: 1rem;
          background-color: transparent;
          &::placeholder {
            font-weight: 400;
          }
        }
      }
    }
    .counselroom-list {
      .counselroom {
        width: 100%;
        padding: 2rem;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        background-color: $white;
        &:hover {
          background-color: $white-hover;
          cursor: pointer;
        }
        .profile-image {
          width: 3rem;
          height: 3rem;
          background-color: $black;
          margin-right: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $white;
          border-radius: 50%;
        }
        .wrapper {
          .name {
            font-weight: $bold;
            margin-bottom: 0.5rem;
          }
          .last-message,
          .last-message-time {
            font-size: 0.8rem;
          }
          .last-message-time {
            margin-left: 0.5rem;
            opacity: 0.7;
          }
        }
        &.selected {
          position: relative;
          z-index: 100;
          width: 101%;
          background-color: $black;
          border-bottom: none;
          border-radius: 0 0.5rem 0.5rem 0;
          box-shadow: $shadow;
          color: $white;
          .profile-image {
            background-color: $white;
            color: $black;
          }
        }
      }
    }
    .friend-list {
      .friend {
        width: 100%;
        padding: 1rem;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        background-color: $white;
        &:hover {
          background-color: $white-hover;
          cursor: pointer;
        }
        .profile-image {
          width: 2rem;
          height: 2rem;
          background-color: $black;
          margin-right: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $white;
          border-radius: 50%;
        }
        .friend-name {
          font-weight: $bold;
        }
        &.selected {
          position: relative;
          z-index: 100;
          width: 103%;
          background-color: $black;
          border-bottom: none;
          border-radius: 0 0.5rem 0.5rem 0;
          box-shadow: $shadow;
          color: $white;
          .profile-image {
            background-color: $white;
            color: $black;
          }
        }
      }
    }
  }
  .counsel-content {
    display: grid;
    grid-template-columns: 25rem 1fr;
    .user-info {
      box-shadow: $shadow;
      position: relative;
      z-index: 80;
      background-color: $white;
      padding: 4rem 3rem;
      width: 100%;
      .profile-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6rem;
        height: 6rem;
        color: $white;
        background-color: $black;
        border-radius: 50%;
        margin-bottom: 2rem;
        font-size: 3rem;
      }
      .name {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-weight: $bold;
      }
      .regiment {
        color: $black;
        margin-bottom: 3rem;
      }
      .info-category {
        width: 100%;
        font-weight: $bold;
        margin-bottom: 1rem;
      }
      .info-wrapper {
        margin-bottom: 1rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .info-content {
          opacity: 0.6;
        }
      }
      .counsel-button {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 1rem;
        border-radius: 2rem;
        background-color: $gray;
        &:hover {
          cursor: pointer;
          background-color: $white-hover;
        }

        .counsel-button-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 3rem;
          height: 3rem;
          background-color: $black;
          color: $white;
          border-radius: 50%;
          margin-right: 1rem;
        }
        .counsel-button-text {
          font-weight: $bold;
          font-size: 1.2rem;
        }
      }
    }
    .toolbox {
      box-shadow: $shadow;
      position: relative;
      z-index: 80;
      background-color: $white;
      width: 100%;
      .toolbox-navbar {
        width: 100%;
        box-shadow: $shadow;
        background-color: $white;
        position: relative;
        z-index: 90;
        ul {
          width: 100%;
          display: flex;

          li {
            flex-grow: 1;
            padding: 1rem;
            font-weight: $bold;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
              background-color: $white-hover;
              color: $black;
              cursor: pointer;
            }
            &.selected {
              background-color: $gray;
              border-bottom: 4px solid $black;
            }
            i {
              margin-right: 0.5rem;
            }
          }
        }
      }
      .toolbox-content {
        background-color: $white;
        width: 100%;
        height: 100%;
        .toolbox-memo {
          width: 100%;
          .toolbox-memo-header {
            box-shadow: $shadow;
            background-color: $white;
            width: 100%;
            padding: 1rem;
            font-weight: $bold;
            position: relative;
            z-index: 85;
            .header-content {
              font-size: 1.2rem;
              display: flex;
              align-items: center;
              justify-content: space-between;
              .add {
                font-size: 1rem;
                padding: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2rem;
                border-radius: 0.5rem;
                &:hover {
                  cursor: pointer;
                  background-color: $white-hover;
                }
              }
            }
            .new-memo {
              margin-top: 1rem;
              display: flex;
              flex-direction: column;
              textarea {
                border: 1px solid $gray;
                border-radius: 1rem;
                width: 100%;
                padding: 1rem;
                resize: none;
              }
              button {
                margin-top: 0.5rem;
                &:last-child {
                  margin-left: auto;
                }
              }
            }
          }
          .toolbox-memo-content {
            width: 100%;
            .previous-memo {
              padding: 1.5rem 1rem 1rem 1rem;
              border-bottom: 1px solid $gray;
              &:hover {
                background-color: $white-hover;
                cursor: pointer;
              }
              .title {
                font-weight: $bold;
                margin-bottom: 0.5rem;
                font-size: 1.2rem;
              }
              .content {
                margin-bottom: 0.5rem;
                line-height: 1.5rem;
              }

              .timestamp {
                font-size: 0.8rem;
                text-align: right;
              }
            }
          }
        }
        .toolbox-message {
          width: 100%;
          .toolbox-message-header {
            font-size: 1.2rem;
            box-shadow: $shadow;
            background-color: $white;
            width: 100%;
            font-weight: $bold;
            position: relative;
            z-index: 85;
            .header-text {
              padding: 1rem;
              line-height: 2rem;
            }
            .header-commanders {
              padding-bottom: 1rem;
              .header-commander {
                display: block;
                padding: 0.5rem 1rem;
                input {
                  margin-right: 0.5rem;
                }
              }
            }
          }
          .toolbox-message-content {
            width: 100%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            textarea {
              border: 1px solid $gray;
              border-radius: 1rem;
              width: 100%;
              padding: 1rem;
              resize: none;
            }
            button {
              margin-top: 0.5rem;
              &:last-child {
                margin-left: auto;
              }
            }
          }
        }
      }
    }
    .current-counselroom {
      display: flex;
      flex-direction: column;
      background-color: $white-hover;
      .current-counselroom-header {
        position: relative;
        z-index: 60;
        display: flex;
        justify-content: space-between;
        background: $white;
        box-shadow: $shadow;
        padding: 1rem;
        button {
          &:last-child {
            margin-left: auto;
          }
        }
      }
      .counsel-input {
        position: relative;
        z-index: 60;
        display: grid;
        grid-template-columns: auto 1fr auto;
        column-gap: 1rem;
        background: $white;
        box-shadow: $shadow;

        .attachment {
          margin: 1rem;
          margin-right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          color: $gray;
          font-size: 1.5rem;
          &:hover {
            color: $black;
            cursor: pointer;
          }
        }

        input {
          font-weight: $bold;
          background-color: transparent;
          &::placeholder {
            font-weight: 400;
          }
        }
        button.counsel-send {
          width: 4rem;
          background-color: $white-hover;
          font-size: 1.5rem;
          &:hover {
            background-color: $gray;
            cursor: pointer;
          }
        }
      }
      .counsel-logs {
        overflow-y: auto;
        overflow-x: hidden;
        height: 100px;
        flex-grow: 1;
        .counsel-log-null {
          height: 2rem;
        }
        .counsel-log {
          width: 100%;
          display: flex;
          padding: 0 2rem;
          &.opponentLog {
            justify-content: flex-end;
            align-items: flex-end;
            .wrapper {
              align-items: flex-end;
              .text {
                background-color: #fdf6ff;
                border-radius: 1rem 1rem 0 1rem;
              }
            }
            .profile-image {
              margin-left: 1rem;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 3rem;
              height: 3rem;
              color: $white;
              background-color: $black;
              border-radius: 50%;
            }
          }
          .wrapper {
            max-width: 70%;
            display: flex;
            flex-direction: column;
          }
          .text {
            display: inline-block;
            padding: 1rem;
            line-height: 1.5rem;
            background-color: $white;
            border-radius: 1rem 1rem 1rem 0;
            box-shadow: $shadow;
          }
          .timestamp {
            color: $black-hover;
            margin: 0.5rem 0;
            font-size: 0.8rem;
          }
          .profile-image {
            width: 3rem;
            height: 3rem;
            background: red;
            border-radius: 3rem;
          }
          &.opponentLog {
            .text {
              float: right;
            }
            .timestamp {
              float: right;
            }
          }
        }
      }
    }
  }
}
