$inputWidth: 20rem;
$inputHeight: 3rem;

.input-custom {
  margin-bottom: 1rem;
  position: relative;
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='submit'] {
    background-color: $white;
    width: $inputWidth;
    height: $inputHeight;
    box-shadow: $shadow;
    border-radius: 1rem 1rem 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: $bold;
    &::placeholder {
      font-weight: 400;
    }
    &:disabled {
      color: $black;
    }
  }
  input[type='submit'] {
    background-color: $black;
    color: $white;
    border-radius: 1rem 1rem 0 1rem;
    font-weight: 900;
    margin-top: 2rem;
    &:hover {
      background-color: $black-hover;
      cursor: pointer;
    }
  }
  .helper-message {
    position: absolute;
    line-height: 1.5rem;
    bottom: 5rem;
    right: 0rem;
    background-color: $black;
    color: $white;
    padding: 1rem;
    border-radius: 0.5rem;
    &::after {
      position: absolute;
      bottom: -0.5rem;
      right: 2rem;
      content: ' ';
      width: 1rem;
      height: 1rem;
      background-color: $black;
      transform: rotateZ(45deg);
    }
  }
}

.input-select {
  position: relative;
  box-shadow: $shadow;
  border-radius: 1rem 1rem 1rem 1rem;
  width: 100%;
  &.search {
    & input:focus {
      border-radius: 1rem 1rem 0 0;
    }
    & input:hover {
      cursor: auto;
    }
    .options {
      display: block;
    }
  }
  &:not(.search):hover > input {
    cursor: default;
    border-radius: 1rem 1rem 0 0;
  }
  input {
    margin: 0;
    background-color: $white;
    width: 100%;
    height: $inputHeight;
    border-radius: 1rem 1rem 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: none;
    font-weight: $bold;

    &::placeholder {
      font-weight: 400;
    }
  }
  &:hover {
    .options {
      display: block;
    }
  }
  .options {
    display: none;
    max-height: $inputHeight * 5;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    z-index: 100;
    top: $inputHeight;
    width: 100%;

    &.search {
      display: block;
      &:hover {
        border-radius: 1rem 1rem 1rem 0;
      }
    }
    .option {
      background-color: $white;
      width: 100%;
      height: $inputHeight;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      &:hover {
        background-color: $white-hover;
        cursor: pointer;
      }
      &:last-child {
        border-radius: 0 0 1rem 1rem;
      }
    }
    &::-webkit-scrollbar {
      width: 6px;
      position: relative;
      left: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: gray;
    }
    &::-webkit-scrollbar-button {
      width: 0;
      height: 0;
    }
  }
}
