#app_container {
  width: 100vw;
  height: 100vh;

  //mobile

  #app_navbar {
    grid-area: 'navbar';
    position: relative;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: $defaultShadow;
    padding: 1rem 2rem;
    .logo {
      font-size: 1.5rem;
      font-weight: 900;
      font-family: 'Raleway', sans-serif;
      margin-right: auto;
    }
    .login {
      font-weight: $weightBold;
      margin-right: 1rem;
    }
    .join {
      padding: 0.5rem;
      background-color: $primary;
      border-radius: 0.5rem;
      color: $white;
    }
    .nav {
      width: 3rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      i {
        font-size: 1.5rem;
      }
      &.selected {
        background-color: $white-100;
        color: $primary;
      }
    }
  }
  #app_main {
    position: relative;
    z-index: 50;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
  }
  #app_sub {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: blue;
  }
}
/* 모바일에 적용될 스타일을 먼저 작성합니다. */

#app_container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-area: 'navbar' 'main';
}

@media screen and (min-width: 769px) {
  /* 태블릿에서 사용될 스타일을 여기에 작성합니다. */
  #app_container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    #app_navbar {
      padding: 2rem 1rem;
      flex-direction: column;
      justify-content: start;
      .logo {
        margin-bottom: 3rem;
      }
      .login {
        margin-right: 0;
      }
      & > a {
        margin-bottom: 1rem;
      }
    }
    #app_main {
    }
  }
}

@media screen and (min-width: 1025px) {
  /* 데스크탑에서 사용될 스타일을 여기에 작성합니다. */
  #app_container {
    display: grid;
    grid-template-columns: auto 30rem 1fr;
    grid-template-rows: 1fr;
    #app_sub {
      position: relative;
      width: 50vw;
      height: 50vh;
      background-color: blue;
    }
  }
}
