#page_join {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;

  .greetings {
    margin: 4rem 0;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    line-height: 3rem;
    font-weight: $weightBold;
    word-break: normal;
  }
  #form_join {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    input,
    select {
      margin-bottom: 1rem;
    }
  }
  .login {
    text-decoration: underline;
    margin-bottom: 5rem;
  }
}
